body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  word-break: break-all;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: #e6ebf5;
}
main {
  display: inline-block;
  background-color: white;
  width: 1000px;
  margin-left: calc((100% - 1000px) / 2);
  height: 600px;
  border-radius: 30px;
  margin-top: 30px;
}

.left-column {
  display: inline-block;
  float: left;
  width: 75%;
  height: 100%;
}

.top-row {
  height: 40%;
  padding: 40px;
}
.intro-text {
  margin-bottom: 25px;
  line-height: 25px;
  font-size: 20px;
}
.date {
  font-weight: 100;
}
button {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  border-radius: 50%;
  border-color: transparent;
  font-size: 8px;
  background-color: #f7f7f9;
}
.veg,
.all {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  float: left;
  width: 66px;
  background-color: white;
  border: 1px solid #dfe7ef;
  border-radius: 50px;
  height: 120px;
  font-size: 11px;
  color: #ccc;
}
.veg-emoji {
  font-size: 33px;
  margin-top: 12px;
}
.weight {
  line-height: 34px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.all {
  width: 66px;
  background-color: #6236ff;
  margin-left: 37px;
  margin-right: 0;
  color: #fff;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.all > span {
  font-size: 14px;
  line-height: 50px;
}
.all > button {
  display: block;
  background-color: white;
  border: none;
  color: #6236ff;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 7px 0 3px 3px;
}

.bottom-row {
  height: 60%;
}
.left-col {
  display: inline-block;
  float: left;
  width: calc(55% - 80px);
  height: calc(100% - 80px);
  margin: 33px 35px 37px 43px;
  border: 1px solid #dfe7ef;
  border-radius: 30px;
}
.left-col > h2 {
  margin: 35px 0 0 40px;
  font-size: 19px;
  margin-bottom: 5px;
}
.left-col > p {
  margin: 0 0 0 40px;
  font-size: 11px;
  color: gray;
  line-height: 18px;
}
.left-col > img {
  display: inline-block;
  width: 370px;
  margin-top: 42px;
}

.right-col {
  display: inline-block;
  float: left;
  padding: 20px;
  padding-top: 30px;
  width: 45%;
  height: 100%;
}
.right-col > h2 {
  display: inline-block;
  font-size: 19px;
  margin: 3px 145px 15px 5px;
}
.right-col > div {
  border: none;
  margin-bottom: 13px;
  padding: 15px;
  border-radius: 76px;
  height: 73px;
  width: 280px;
}
.right-col > div:last-of-type {
  margin-bottom: 0;
  background-color: #f2ffcc;
  color: #70a922;
}
.water-stats {
  background-color: #d8f8ff;
  color: #2297d2;
}
.tractor-stats {
  background-color: #fff4cc;
  color: #d79e22;
}
.emoji {
  display: inline-block;
  float: left;
  width: 29%;
  font-size: 36px;
  padding-left: 10px;
}
.stat-name {
  display: inline-block;
  width: 40%;
  margin-top: 5px;
  color: black;
}
.big-stat-name {
  font-size: 14px;
  font-weight: 700;
}
.small-stat-name {
  font-size: 12px;
  color: gray;
}
.stat-number {
  display: inline-block;
  width: 29%;
  text-align: center;
  margin-top: 10px;
  padding-left: 5px;
  font-weight: 500;
}

.right-column {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
}
.right-top-row {
  height: 45%;
}
.right-bottom-row {
  background-color: #6236ff;
  height: calc(55% - 47px);
  margin-bottom: 44px;
  margin-top: 3px;
  border-radius: 50px;
}
.left-co {
  display: inline-block;
  float: left;
  width: 35%;
  color: #66b042;
  font-size: 22px;
  margin-top: 85px;
}
.right-co {
  display: inline-block;
  float: left;
  width: 65%;
}
.right-co > img {
  width: 175px;
  margin-top: 37px;
  position: absolute;
}
.top-ro {
  color: #fff;
  padding-top: 30px;
  padding-left: 30px;
}
.top-ro > h2 {
  font-size: 19px;
  margin-bottom: 5px;
}
.top-ro > p {
  font-size: 11px;
  line-height: 18px;
}
.square {
  height: 100px;
  width: 50px;
  background-color: #6236ff;
  position: relative;
  float: right;
  top: 225px;
}
.circle {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  float: right;
  top: 173px;
  right: -50px;
}
.bottom-ro > img {
  width: 200px;
  margin-top: 17px;
  margin-left: 67px;
}

footer {
  width: 1000px;
  margin-left: calc((100% - 1000px) / 2);
  background-color: purple;
  height: 70px;
}
.footer-1 {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  background-color: bisque;
}
.footer-2 {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
  background-color: chocolate;
}
.footer-3 {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  background-color: indianred;
}
