body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  word-break: break-all;
  font-family: "Quicksand", sans-serif;
}

main {
  display: inline-block;
  background-color: ghostwhite;
  width: 1000px;
  margin-left: calc((100% - 1000px) / 2);
  height: 600px;
}

.left-column {
  display: inline-block;
  float: left;
  width: 75%;
  height: 100%;
  background-color: antiquewhite;
}

.top-row {
  height: 40%;
  padding: 40px;
}
.intro-text {
  margin-bottom: 25px;
  line-height: 25px;
  font-size: 20px;
}
.date {
  font-weight: 100;
}
.intro-text > button {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  border-radius: 50%;
  border-color: transparent;
  font-size: 8px;
  background-color: #f7f7f9;
}
.veg,
.all {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  float: left;
  width: 66px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  height: 120px;
  font-size: 11px;
  color: #ccc;
}
.veg-emoji {
  font-size: 33px;
  margin-top: 12px;
}
.weight {
  line-height: 34px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.all {
  width: 66px;
  background-color: #6236ff;
  margin-left: 37px;
  margin-right: 0;
  color: #fff;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.all > span {
  font-size: 14px;
  line-height: 50px;
}
.all > button {
  display: block;
  background-color: white;
  border: none;
  color: #6236ff;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 7px 0 3px 3px;
}

.bottom-row {
  height: 60%;
  background-color: beige;
}
.left-col {
  display: inline-block;
  float: left;
  width: calc(55% - 60px);
  height: calc(100% - 60px);
  background-color: aqua;
  margin: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.left-col > h2 {
  font-size: 18px;
  margin-bottom: 6px;
}
.left-col > p {
  font-size: 12px;
  color: gray;
  line-height: 18px;
}
.right-col {
  display: inline-block;
  float: left;
  width: 45%;
  height: 100%;
  background-color: coral;
}
.right-column {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  background-color: red;
}
.right-top-row {
  background-color: cornflowerblue;
  height: 45%;
}
.right-bottom-row {
  background-color: forestgreen;
  height: 55%;
}
footer {
  width: 1000px;
  margin-left: calc((100% - 1000px) / 2);
  background-color: purple;
  height: 70px;
}
.footer-1 {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  background-color: bisque;
}
.footer-2 {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
  background-color: chocolate;
}
.footer-3 {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  background-color: indianred;
}
